# Files to remove temporarily

# Backup
*.zip

# Midi
*.mid

# Models
*.h5

# Byte-compiled / optimized / DLL files
__pycache__/

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
env/
*.yml
