# Files to remove temporarily

# Backup
*.zip

# Music Files
*.mid
*.musicxml

# Wav
*.wav

# Images
*.svg
*.png

# Models
*.h5


# Byte-compiled / optimized / DLL files
__pycache__/

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
env/
*.yml

#Folders
dist/
install/

# Sound Fonts
*.sf2



