
{% extends "layout.html" %}

{% block main %}
<!-- /container -->

  <div class="row">
    <div class="col-md-4 my-2">
      <h5><strong>Upload</strong></h5>
      <p>Upload a monophonic melody (no chords) in C major as a midi file.
          There are many free midi editors available, like <a href="https://musescore.org/en">MuseScore</a>.</p>
    </div>
    <div class="col-md-4 my-2">
      <h5><strong>Harmonize</strong></h5>
      <p>Wait a few minutes while your song is automatically harmonized.</p>
    </div>
    <div class="col-md-4 my-2">
        <h5><strong>Listen</strong></h5>
        <p>Download your song to listen to it in four-part harmony.</p>
    </div>
  </div>

    <!-- Break -->
  <div class="col" style="height:25px;"></div>

  <!-- Uploader -->
  <div class="row" id="row-upload">
    <div class="col-md-12">
      <h5><strong>Get Started</strong></h5>
      <p>Upload your melody as a midi file in C major. It must be monophonic (no chords).</p>
      <div class="input-group mb-3">
          <form action = "/processing" method = "POST" enctype = "multipart/form-data">
            <div class="input-group">
                <div class="custom-file">
                  <input type="file" name = "file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                  <label class="custom-file-label" for="inputGroupFile04">Choose a .midi file</label>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-dark" type="submit" id="inputGroupFileAddon04" onclick="displayLoader()">Upload</button>
                </div>
            </div>
          </form>
      </div>
    </div>
  </div>
  <!-- Loading Icon -->
  <div class="row" id="row-loading" style="display:none">
    <div class="col-md-12">
      <h5><strong>Harmonizing...</strong></h5>
      <p>Please be patient as this may take up to 5 minutes. Do not leave or reload the page.</p>
      <div class="text-center">
        <button class="btn btn-dark btn-lg btn-block" type="button" disabled>
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          Thinking...
        </button>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
<script type="application/javascript">
    $('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        $('.custom-file-label').html(fileName);
    });

    // Hide the uploading elements and show the loading icon
    function displayLoader() {
      document.getElementById("row-upload").style.display = "none";
      document.getElementById("row-loading").style.display = "block";
    }
</script>
{% endblock %}
