[Unit]
Description=uWSGI instance to serve harmonizer
After=network.target

[Service]
User=justin
Group=www-data
WorkingDirectory=/home/justin/code/harmonizer_website
Environment="PATH=/home/justin/code/harmonizer_website/env/bin"
ExecStart=/home/justin/code/harmonizer_website/env/bin/uwsgi --ini harmonizer.ini

[Install]
WantedBy=multi-user.target
